ImplementationCode/Exo_Detection/yolo-exo-detection/ExoDetection.zip.001 filter=lfs diff=lfs merge=lfs -text
ImplementationCode/BLE/BLE[[:space:]]-[[:space:]]bidireccional[[:space:]]VerFinal.zip.002 filter=lfs diff=lfs merge=lfs -text
ImplementationCode/BLE/BLE[[:space:]]-[[:space:]]bidireccional[[:space:]]VerFinal.zip.003 filter=lfs diff=lfs merge=lfs -text
ImplementationCode/Exo_Detection/yolo-exo-detection/ExoDetection.zip.002 filter=lfs diff=lfs merge=lfs -text
ImplementationCode/Exo_Detection/yolo-exo-detection/ExoDetection.zip.003 filter=lfs diff=lfs merge=lfs -text
ImplementationCode/BLE/BLE[[:space:]]-[[:space:]]bidireccional[[:space:]]VerFinal.zip.001 filter=lfs diff=lfs merge=lfs -text
ImplementationCode/IntegratedSytem/SistemaMR_777.apk filter=lfs diff=lfs merge=lfs -text
