<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ejemplo.bluetooth">

    <!-- Permisos de Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>

    <!-- Habilitar Bluetooth LE -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

</manifest>
